body {
  color: var(--color-text);
  font-family: var(--font-family-base);
  margin: 0;
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

.page-container {
  height: 100%;
  margin: auto;
  max-width: 1260px;
  overflow: hidden;
  width: 90%;

  @media (--sp) {
    width: 88%;
  }
}

.hidden-sp {
  @media (--not-sp) {
    display: block;
  }

  @media (--sp) {
    display: none;
  }
}

.hidden-pc {
  @media (--not-sp) {
    display: none;
  }

  @media (--sp) {
    display: block;
  }
}

*::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 8px;
  width: 8px;

  @media (--sp) {
    height: 4px;
    width: 4px;
  }
}

*::-webkit-scrollbar-track{
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  box-sizing: border-box;
}

.-color-gray {
  color: #666 !important;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  height: 44px !important;
  width: 160px !important;

  @media (--sp) {
    font-size: 14px !important;
    height: 40px !important;
    width: 108px !important;
  }
}

.button-group .button:first-child {
  @media (--not-sp) {
    margin-right: 12px;
  }

  @media (--sp) {
    margin-right: 4px;
  }
}

.button-group .button:nth-child(2) {
  @media (--not-sp) {
    margin-left: 12px;
  }

  @media (--sp) {
    margin-left: 4px;
  }
}
