html {
  overflow: hidden !important;
}

body {
  color: var(--color-text);
  font-family: var(--font-family-base);
  margin: 0;
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}

.page-container {
  height: 100%;
  overflow: hidden;
}

.hidden-sp {
  @media (--not-sp) {
    display: block;
  }

  @media (--sp) {
    display: none;
  }
}

.hidden-pc {
  @media (--not-sp) {
    display: none;
  }

  @media (--sp) {
    display: block;
  }
}

*::-webkit-scrollbar {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  height: 8px;
  width: 8px;

  @media (--sp) {
    height: 4px;
    width: 4px;
  }
}

*::-webkit-scrollbar-track{
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #a3a3a3;
  border: 1px solid #a3a3a3;
  border-radius: 8px;
  box-sizing: border-box;
}

.color-gray__button {
  color: #666 !important;
}
