.fade-enter-active,
.fade-leave-active {
  opacity: 1;
  transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
  transition: opacity .3s;
}

.long-fade-enter-active,
.long-fade-leave-active {
  opacity: 1;
  transition: opacity 1s;
}

.long-fade-enter,
.long-fade-leave-to {
  opacity: 0;
  transition: opacity 1s;
}

@keyframes spinner-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinner__inner-animation {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
