/*====================================
  Break Point
====================================*/
@custom-media --sp (max-width: 767px);
@custom-media --not-sp (min-width: 768px);

/*====================================
  PostCSS 変数定義
====================================*/
:root {
  /* color */
  --color-primary: #757575;
  --color-secondary: #999;
  --color-accent: #61ab9b;
  --color-text: #333;
  --color-text-light: #555;
  --color-bg: #E5E5E5;

  /* font */
  --font-family-base: 'Noto Sans JP', 'Noto Sans', sans-serif;
  --font-family-title: 'Montserrat', sans-serif;
}
