.v-application {
  font-family: var(--font-family-base) !important;
}

.v-main__wrap {
  height: 100vh !important;
  overflow-y: auto !important;
}

.v-main__wrap::-webkit-scrollbar {
  display: none;
}

.v-dialog {
  border-radius: 12px !important;
}

.v-dialog::-webkit-scrollbar {
  display: none;
}

.theme--light.v-label {
  color: var(--color-secondary) !important;
}
