.v-application {
  font-family: var(--font-family-base) !important;
}

.v-main__wrap::-webkit-scrollbar {
  display: none;
}

.container {
  height: 100%;
}

.v-toolbar__content, .v-toolbar__extension {
  padding: 4px 8px !important;
}

.v-dialog {
  border-radius: 20px !important;

  @media (--sp) {
    border-radius: 12px !important;
  }
}

.v-dialog::-webkit-scrollbar {
  display: none;
}

.v-label {
  color: var(--color-text-light) !important;
}

.v-application .rounded-lg {
  border-radius: 12px !important;
}

.v-alert:not(.v-sheet--tile) {
  border-radius: 12px !important;

  @media (--sp) {
    border-radius: 8px !important;
  }
}

.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
  color: var(--color-text-light) !important;
}
